{% extends "base.njk" %}
{% block content %}
<h1>{{ title }}</h1>
<div class="grid">
  {% for project in collections.projects %}
    <div>
      <a href="{{ project.url }}">
        <img src="{{ project.data.image }}" alt="{{ project.data.title }}">
      </a>
      <h2><a href="{{ project.url }}">{{ project.data.title }}</a></h2>
      <p>{{ project.data.description }}</p>
    </div>
  {% endfor %}
</div>
{% endblock %}